.root {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 0.325em;
  text-decoration: none;

  &,
  &:visited {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }

  svg {
    height: 0.875em;
  }
}
