@use "@/styles/theme/palette.module.scss" as palette;

.root {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 0.325em;
  text-decoration: none;
  
  &,
  &:link,
  &:visited {
    color: palette.$link;
  }

  &:hover {
    text-decoration: underline;
  }

  .linkIcon {
    height: 0.875em;
  }
}
