@use "@/styles/theme/palette.module.scss" as palette;

body {
  margin: 0;
  padding: 0;
  color: palette.$main-text;
  background-color: #020101;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
