@use "@/styles/theme/mixins.module.scss" as mixins;
@use "@/styles/theme/palette.module.scss" as palette;
@use "@/styles/theme/breakpoints.module.scss" as breakpoints;

.root {
  display: flex;
  flex-flow: column nowrap;

  li {
    @include mixins.card-dashed;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    align-items: center;
    padding-inline: 0;
    border-left: none;
    border-right: none;

    &:first-child {
      border-top: none;
      padding-top: 0;
    }

    & > span {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      column-gap: 1rem;

      @media (max-width: breakpoints.$sm) {
        justify-content: space-between;
      }
    }

    @media (max-width: breakpoints.$sm) {
      grid-template-columns: 1fr;
    }
  }
}

.links {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.875rem;
  column-gap: 0.5rem;
  // color: palette.$link;

  a {
    // color: palette.$secondary-text;
  }

  svg {
    display: block;
    color: inherit;
  }
}

.githubSvg {
  height: 16px;
}

.role {
  color: palette.$secondary-text;

  @media (max-width: breakpoints.$sm) {
    text-align: right;
  }
}
