@use "@/styles/theme/mixins.module.scss" as mixins;
@use "@/styles/theme/palette.module.scss" as palette;

.root {
  display: flex;
  flex-flow: column nowrap;

  li {
    @include mixins.card-dashed;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    align-items: baseline;
    padding-inline: 0;
    border-left: none;
    border-right: none;

    &:first-child {
      border-top: none;
      padding-top: 0;
    }

    & > span {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
  }
}

.links {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.875rem;
  gap: 0.5rem;

  a {
    color: palette.$secondary-text;
  }

  svg {
    display: block;
    color: inherit;
  }
}

.githubSvg {
  height: 16px;
}

.role {
  color: palette.$secondary-text;
}
