$main-text: rgb(214, 214, 214);
$accent-text: rgb(70, 199, 186);
$secondary-text: rgb(104, 96, 96);
$divider: rgb(60, 60, 60);
$main-bg: rgb(3, 2, 2);
$card-bg: rgb(16, 16, 16);
$friday: rgb(245, 79, 79);
$link: rgb(115, 184, 177);
